@import "tailwindcss";

@font-face {
    font-family: 'sifonn';
    src: url('./fonts/SIFONN_PRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-brand: #1a73e8;
    --font-heading: "sifonn", sans-serif;
    --font-sub-heading: "Bebas Neue", sans-serif; /* Creates utility class: font-bebas */
    --font-sans: "Montserrat", sans-serif; /* Creates utility class: font-montserrat */
    --spacing-site: 1400px;
}

/* Image scroller styles */
/* .outline-text {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  z-index: 2;
}

.filter-text {
  mix-blend-mode: screen;
  color: #804691;
  z-index: 2;
}

.scroll-image:nth-child(1) {
  grid-area: 1/1/6/8;
}

.scroll-image:nth-child(2) {
  grid-area: 3/12/8/20;
}

.scroll-image:nth-child(3) {
  grid-area: 9/5/13/15;
}

.scroll-image:nth-child(4) {
  grid-area: 14/1/18/8;
}

.scroll-image:nth-child(5) {
  grid-area: 16/12/20/19;
}

.scroll-image:nth-child(6) {
  grid-area: 20/2/25/9;
}

.scroll-image:nth-child(7) {
  grid-area: 22/11/24/20;
}

.scroll-image:nth-child(8) {
  grid-area: 26/5/30/15;
} */