@import "tailwindcss";

@font-face {
    font-family: 'sifonn';
    src: url('./fonts/SIFONN_PRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-brand: #1a73e8;
    --font-heading: "sifonn", sans-serif;
    --font-sub-heading: "Bebas Neue", sans-serif; /* Creates utility class: font-bebas */
    --font-sans: "Montserrat", sans-serif; /* Creates utility class: font-montserrat */
    --spacing-site: 1400px;
}